.dl-table {
  a {
    padding-bottom: 0.4rem;
  }

  .btn {
    margin: 1.5rem 0;
  }
}

pre.highlight {
  white-space: pre-wrap;
}

.highlight {
  text-align: left;
}

.w50 {
  width: 50%;

  @media all and (max-width: 600px) {
    width: 100%;
  }
}

.tl {
  text-align: left;
}
